<a href="https://colab.research.google.com/github/dbredden/Statistics/blob/main/DescriptiveStatistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries, Directory, and Data

In [4]:
# Change Directory
%cd /content/drive/MyDrive/StatisticswithPython/StatisticswithPython/InferentialStatistics/DescriptiveStatistics

/content/drive/MyDrive/StatisticswithPython/StatisticswithPython/InferentialStatistics/DescriptiveStatistics

In [5]:
import pandas as pd
import seaborn as sns
import scipy.stats as st

In [6]:
# load data set
df = pd.read_csv("Baseball.csv")
df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [7]:
# info about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Team          1232 non-null   object
 1   League        1232 non-null   object
 2   Year          1232 non-null   int64
 3   RS            1232 non-null   int64
 4   RA            1232 non-null   int64
 5   W             1232 non-null   int64
 6   OBP           1232 non-null   float64
 7   SLG           1232 non-null   float64
 8   BA            1232 non-null   float64
 9   Playoffs      1232 non-null   int64
 10  RankSeason    244 non-null    float64
 11  RankPlayoffs  244 non-null    float64
 12  G             1232 non-null   int64
 13  OOBP          420 non-null    float64
 14  OSLG          420 non-null    float64
dtypes: float64(7), int64(6), object(2)
memory usage: 144.5+ KB

# Mean

In [14]:
# mean of runs scored
df.RS.mean()

715.0819805194806

In [11]:
# mean of runs scored by Arizona
df.loc[df.Team == "ARI"].RS.mean()

742.2

In [12]:
# mean of runs scored by Arizona since 2005
df.loc[(df.Team == "ARI") & (df.Year >= 2005)].RS.mean()

724.875

In [23]:
# average of runs allowed by the Cubs
# average before 2000 and after 2005
df.loc[(df.Team == "CHC")].RA.mean()
df.loc[(df.Team == "CHC") & ((df.Year < 2000) | (df.Year > 2005))].RA.mean()

725.4634146341464