<a href="https://colab.research.google.com/github/dbredden/Statistics/blob/main/PythonForStatistics_Intermediate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# While Loops

In [ ]:
# Uber Driver
people_in_car = 0

while people_in_car < 5:
  print(f"People in the car {people_in_car}")
  people_in_car += 1

print("The car is full")

In [ ]:
#Print the even numbers until 20
n = 20
i = 0

while i <= 20:
  i += 1
  if i % 2 == 0:
    print(i)
  else:
    print("The number is not even")

# Exercise: Create a countdown timer from 10 to 0

In [ ]:
# Countdown timer from 10 to 0
n = 11
import time

while n > 0:
  n-=1
  print(f"{n}")

  time.sleep(1)

# Python Lists

In [ ]:
# Simple List
numbers = [1, 2, 3, 4, 5]

In [ ]:
# mixed list
mixed_list = [42, "Hello", 3.14, True]
print(mixed_list)

[42, 'Hello', 3.14, True]

In [ ]:
# Accessing the list
# You can get specific items using their index
# Start with index 0 for the first item

print(numbers[0])
print(mixed_list[2])

1
3.14

In [ ]:
# slicing
# grabbing a portion of the list.
# End of the list is not included
numbers = [1, 2, 3, 4, 5]
print(numbers[1:4])

[2, 3, 4]

In [ ]:
# Modifying
# List are mutable -> you can change them
# assigning a new value via their index

numbers[0] = 100
print(numbers)

[100, 2, 3, 4, 5]

In [ ]:
# adding items to the list
# append method
numbers.append(6)
print(numbers)

[100, 2, 3, 4, 5, 6]

In [ ]:
# concatenate with the +
numbers = numbers + [10, 23, 43]
print(numbers)

[100, 2, 3, 4, 5, 6, 10, 23, 43]

In [ ]:
# remove items
# del method
del numbers[0]
print(numbers)

[3, 4, 5, 6, 10, 23, 43]

In [ ]:
# remove a specific item
numbers.remove(4)
print(numbers)

[3, 5, 10, 23, 43]

In [ ]:
# using the pop
last_number = numbers.pop()
print(numbers)
print(last_number)

[3, 5, 10, 23]
43

In [ ]:
# pop with a speicific index
some_number = numbers.pop(-2)
print(numbers)
print(some_number)

[3, 5, 23]
10

In [ ]:
# Monthly Expense report
# compute the total expenses
# compute the average spending for the month

#Expense report
monthly_expenses = [1200, 1350, 1050, 1450, 1150, 900, 1220]

total_expense_amount = sum(monthly_expenses)
total_expenses = len(monthly_expenses)
average_expense = total_expense_amount / total_expenses

print(total_expense_amount)
print(total_expenses)
print(average_expense)

In [ ]:
# Print the first 10 Fibonacci numbers
a = 1
b = 1
fib = []

while len(fib) < 10:
  fib.append(a)
  c = a + b
  a = b
  b = c
  print(fib)

# Randomization

In [ ]:
import random

In [ ]:
# Generate a random float between 0 and 1
random_float = random.random()
print(random_float)

In [ ]:
# generate a random int
random_int = random.randint(1,10)
print(random_int)

3

In [ ]:
# generate a random float within a range
random_float_range = random.uniform(1,20)
print(random_float_range)

10.594595018193127

In [ ]:
# random element from a list
my_list = ['apple', 'banana', 'cherry', 'orange']
random.choice(my_list)

'apple'

In [ ]:
# shuffle
my_numbers = [1,2,3,4,5]
random.shuffle(my_numbers)
my_numbers

[3, 4, 5, 2, 1]

In [ ]:
# Choosing multiple elements from a list (aka sampling)
random.sample(my_numbers,3)

[4, 3, 2]